* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100svh;
  width: 100svw;
  justify-content: center;
  align-items: center;
  display: flex;
}
#flyttmeg-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 10rem;
  display: inline-block;
  color: white;
  background-color: black;
}

.tetris-piece-i-shape,
.tetris-piece-o-shape,
.tetris-piece-t-shape,
.tetris-piece-l-shape,
.tetris-piece-j-shape,
.tetris-piece-s-shape,
.tetris-piece-z-shape {
  display: grid;
  position: absolute;
}

.tetris-piece-i-shape {
  background-color: #51e1fc;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.tetris-piece-o-shape {
  background-color: #fef84c;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.tetris-piece-t-shape {
  background-color: #943692;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: span 2;
}

.tetris-piece-l-shape {
  background-color: #f69230;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tetris-piece-j-shape {
  background-color: #f16eb9;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tetris-piece-s-shape {
  background-color: #e93d1e;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.tetris-piece-z-shape {
  background-color: #79ae3d;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.block {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
